* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.wall  {
    background-color: blue;
}

.sushi {
    background-image: url("../img/sushi.png");
}

.onigiri {
    background-image: url("../img/onigiri.png");
}

#ninjaman {
    background-image: url("../img/ninja.gif");
    position: absolute;
}

#score {
    align-items: center;
    color: white;
    display: flex;
    height: 40px;
    left: 40px;
    position: absolute;
    width: 120px;
}

#score > span {
    padding: 0 0.5rem;
}

.sushi, .onigiri, #ninjaman {
    background-repeat: no-repeat;
    background-size: contain;
}

.blank, .sushi, .onigiri, #ninjaman {
    background-color: black;
}

.blank, .sushi, .wall, .onigiri, #ninjaman {
    height: 40px;
    width: 40px;
}
